<div class="menu-item">
  @if (data.url) {
  <a [routerLink]="data.url">
    <div class="menu-content">
      @if (data.icon) {
      <mat-icon>{{ data.icon }}</mat-icon>
      }

      <span class="menu-name">{{ data.name }}</span>
    </div>
  </a>
  }

  <!--  -->

  @if (!data.url) {
  <div class="menu-content">
    @if (data.icon) {
    <mat-icon>{{ data.icon }}</mat-icon>
    }

    <span class="menu-name">{{ data.name }}</span>
  </div>
  }
  <!--  -->
  @if (data.children) {
  <div class="sub-menus">
    @for (item of data.children; track item.url) {
    <app-menu [data]="item"></app-menu>
    }
  </div>
  }
</div>
