@use "../../../scss/variables" as var_;

.settings-button {
  $iconSize: 32px;
  padding: 6px;
  border-radius: 4px;
  cursor: pointer;

  &.selected {
    background-color: var_.$primaryColor !important;
    color: white !important;
  }

  .mat-icons {
    width: $iconSize;
    height: $iconSize;
  }

  .material-icons {
    font-size: $iconSize;
    width: $iconSize;
    height: $iconSize;
  }
}

.import-box {
  padding: 0.5em;
  margin: 0.5em 0;
  background-color: #ddd;
  border: dashed 1px #ccc;

  mat-slide-toggle {
    margin: 0.5em 0;
  }
}
[appTable] td {
  white-space: nowrap;
}
