@use "../../../scss/variables" as var_;

.settings-button.selected {
  background-color: var_.$primaryColor !important;
  color: white !important;
}

.import-box {
  padding: 0.5em;
  margin: 0.5em 0;
  background-color: #ddd;
  border: dashed 1px #ccc;

  mat-slide-toggle {
    margin: 0.5em 0;
  }
}
[appTable] td {
  white-space: nowrap;
}