<mat-form-field [ngClass]="{ disabled: disableState$() }">
  <mat-label>Recipient</mat-label>
  <input
    type="text"
    placeholder="Pick a recipient"
    [formControl]="formControl"
    matInput
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [requireSelection]="true"
    [displayWith]="displayFn.bind(this)"
  >
    @for (option of filteredOptions$ | async; track option.recipientId) {
    <mat-option [value]="option.recipientId"
      >{{ option.fullName }} ({{ option.recipientId }})
    </mat-option>
    }
  </mat-autocomplete>

  <mat-error>
    {{ formUtils.extractError(formControl) }}
  </mat-error>
</mat-form-field>
