<div class="dialog-container">
  <h2>Edit warehouse</h2>
  <form [formGroup]="formGroup">
    <mat-form-field class="dialog-block">
      <mat-label>Warehouse name</mat-label>
      <input
        matInput
        placeholder="Warehouse name"
        formControlName="warehouseName"
      />
    </mat-form-field>

    <mat-form-field class="dialog-block">
      <mat-label>Warehouse address</mat-label>
      <textarea
        matInput
        placeholder="Warehouse address"
        formControlName="warehouseAddress"
      ></textarea>
    </mat-form-field>

    <div class="action-box">
      <button mat-stroked-button color="primary" (click)="save()">Save</button>
    </div>
  </form>
</div>
