<main-layout [basePage]="this">
  <div class="header-action-box">
    <button mat-stroked-button color="primary" (click)="addCommodityType()">
      Add commodity type
    </button>
    <button mat-stroked-button color="primary" (click)="importCommodityType()">
      Import commodity type
    </button>
    <mat-divider [vertical]="true"></mat-divider>
    <button mat-stroked-button color="primary" (click)="exportCommodityType()">
      Export commodity type
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="commodity-type-list">
    @for (commodityType of commodityTypeList$(); track commodityType.typeId) {
    <div class="commodity-type-item">
      <span>{{ commodityType.typeName }}</span>
      <button mat-icon-button (click)="editCommodityType(commodityType)">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
    }
  </div>
</main-layout>
