<main-layout [basePage]="this">
  <div class="header-action-box">
    <button mat-stroked-button color="primary" (click)="addCommodityType()">
      Add commodity type
    </button>
    <button mat-stroked-button color="accent" (click)="importCommodityType()">
      Import commodity type
    </button>
    <mat-divider app-hr [vertical]="true"></mat-divider>
    <button mat-flat-button color="warn" (click)="exportCommodityType()">
      Export commodity type
    </button>
  </div>

  <mat-divider></mat-divider>

  <div class="commodity-type-list">
    <table mat-table [dataSource]="commodityTypeDataSource" class="app-table">
      <ng-container matColumnDef="typeId">
        <th mat-header-cell *matHeaderCellDef>Type ID</th>
        <td mat-cell *matCellDef="let el">{{ el.typeId }}</td>
      </ng-container>
      <ng-container matColumnDef="typeName">
        <th mat-header-cell *matHeaderCellDef>Type Name</th>
        <td mat-cell *matCellDef="let el">{{ el.typeName }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="paginator.length$()"
      [pageSize]="paginator.pageSize$()"
      [pageSizeOptions]="paginator.pageSizeOptions$()"
      (page)="paginator.onPageChange($event)"
    ></mat-paginator>
  </div>
</main-layout>
