<main-layout [basePage]="this">
  <h1>This is recipient list</h1>

  <div class="header-action-box">
    <button mat-stroked-button color="primary" (click)="addRecipient()">
      Add recipient
    </button>
    <button mat-stroked-button color="primary" (click)="importRecipients()">
      Import recipients
    </button>
  </div>

  <div class="recipient-list">
    <table mat-table [dataSource]="recipientDataSource" class="app-table">
      <ng-container matColumnDef="recipientId">
        <th mat-header-cell *matHeaderCellDef>Recipient ID</th>
        <td mat-cell *matCellDef="let el">{{ el.recipientId }}</td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef>Recipient name</th>
        <td mat-cell *matCellDef="let el">{{ el.fullName }}</td>
      </ng-container>

      <ng-container matColumnDef="idCardNumber">
        <th mat-header-cell *matHeaderCellDef>ID card number</th>
        <td mat-cell *matCellDef="let el">{{ el.idCardNumber }}</td>
      </ng-container>

      <ng-container matColumnDef="recipientType">
        <th mat-header-cell *matHeaderCellDef>Recipient type</th>
        <td mat-cell *matCellDef="let el">
          {{ el.recipientType$()?.typeName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let el">
          <button mat-icon-button (click)="editRecipient(el)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="noteRecipient(el)">
            <mat-icon>edit_note</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="pageHandler.length$()"
    [pageSize]="pageHandler.pageSize$()"
    [pageSizeOptions]="pageHandler.pageSizeOptions$()"
    (page)="pageHandler.onPageChange($event)"
  >
  </mat-paginator>
</main-layout>
