<div class="dialog-container">
  <h2>Edit shipper</h2>
  <mat-divider></mat-divider>

  <form [formGroup]="formGroup">
    <mat-form-field class="dialog-block">
      <mat-label>Shipper code</mat-label>
      <input
        matInput
        placeholder="Shipper code"
        formControlName="shipperCode"
      />
    </mat-form-field>

    <mat-form-field class="dialog-block">
      <mat-label>Shipper name</mat-label>
      <input
        matInput
        placeholder="Shipper name"
        formControlName="shipperName"
      />
    </mat-form-field>

    <mat-form-field class="dialog-block">
      <mat-label>Shipper type</mat-label>
      <mat-select formControlName="shipperTypeId">
        @for (shipperType of shipperTypeList$(); track shipperType.typeId) {
        <mat-option [value]="shipperType.typeId">
          {{ shipperType.typeName }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if (logMessage$()) {
    <div class="log-message inline-block-message {{ logMessage$()?.logType }}">
      {{ logMessage$()?.message }}
    </div>
    }

    <div class="action-box dialog-block">
      <button mat-stroked-button color="primary" (click)="save()">Save</button>
    </div>
  </form>
</div>
