$themeColor: rgb(0, 139, 97);

.page-content {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
}

header {
  background-color: whitesmoke;
  padding: 0.5em;
  border-bottom: 1px solid $themeColor;
  font-weight: 900;
  font-size: 22px;
}

.main-content {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 0.5em;
  overflow: hidden;

  nav.menu-container {
    background-color: $themeColor;
    color: white;
    padding: 0.5em 0;
    // overflow-y: auto;
    // overflow-x: auto;
  }

  section {
    padding: 0.5em;
    overflow: auto;
    height: 100%;
  }
}
