<div class="dialog-container">
  <h2>Edit delivery</h2>

  <form [formGroup]="formGroup">
    <app-select-recipient-widget
      [formControl]="formGroup.controls.recipientId"
    />

    <app-select-commodity-widget
      [formControl]="formGroup.controls.commodityId"
    />

    <mat-form-field class="dialog-block">
      <mat-label>Commodity quantity</mat-label>
      <input
        matInput
        placeholder="Commodity quantity"
        formControlName="comQuantity"
      />
    </mat-form-field>

    <hr />

    @if (logMessage$()) {
    <app-inline-log-message [logMessage]="logMessage$" />
    }

    <div class="action-box">
      <button type="submit" mat-stroked-button color="primary" (click)="save()">
        Save
      </button>
    </div>
  </form>
</div>
