

.dialog-container {
  border-top: var(--themeColor) solid 3px;
  padding: 0.5em;

  .title {
    font-size: 22px;
    font-weight: 600;
  }

  .content {
    padding: 1em 0;
  }

  .footer {
    display: flex;
    justify-content: flex-end;
  }
}
