<main-layout [basePage]="this">
  <h1>This is warehouse list</h1>

  <div class="header-action-box">
    <button mat-stroked-button color="primary" (click)="addWarehouse()">
      Add warehouse
    </button>

    <button mat-stroked-button color="primary" (click)="importWarehouse()">Import warehouse</button>
  </div>

  <div class="warehouse-list">
    @for (warehouse of warehouseList$(); track warehouse.warehouseId) {
    <div class="warehouse-item">
      <div class="warehouse-name">
        <div class="id">
          {{ warehouse.warehouseId }}
        </div>
        <div class="name">
          {{ warehouse.warehouseName }}
        </div>
      </div>
      <p class="warehouse-address">
        {{ warehouse.warehouseAddress }}
      </p>
      <div class="action-box">
        <button mat-icon-button color="primary" (click)="editWarehouse(warehouse)">
          <mat-icon>edit</mat-icon>
        </button>
        <mat-divider [vertical]="true"></mat-divider>
        <button mat-icon-button color="warn" (click)="importToWarehouse(warehouse)"
          matTooltip="Import to this warehouse"
        >
          <mat-icon>publish</mat-icon>
        </button>
      </div>
    </div>
    }
  </div>
</main-layout>
