@mixin inline-message($color: #36f) {
  display: block;
  margin: 0 0 0.5em 0;
  padding: 0.05em;
  color: $color;
}

.inline-message {
  &.info {
    @include inline-message(#36f);
  }

  &.warning {
    @include inline-message(#f90);
  }

  &.error {
    @include inline-message(#f33);
  }
}