<mat-form-field [ngClass]="{ disabled: disableState$() }">
  <mat-label>Commodity</mat-label>
  <input
    type="text"
    placeholder="Pick a commodity"
    [formControl]="formControl"
    matInput
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [requireSelection]="true"
    [displayWith]="displayFn.bind(this)"
  >
    @for (option of filteredOptions$ | async; track option.comId) {
    <mat-option [value]="option.comId"
      >{{ option.comName }} ({{ option.comId }})
    </mat-option>
    }
  </mat-autocomplete>
  <mat-error>
    {{ formUtils.extractError(formControl) }}
  </mat-error>
</mat-form-field>
