<main-layout [basePage]="this">
  <div class="header-panel">
    <h2>Import Items</h2>

    <div class="header-action-box">
      <button mat-stroked-button color="primary" (click)="addImportItems()">
        Add Items
      </button>
    </div>
  </div>

  <div class="item-list-container">
    <table mat-table [dataSource]="tableDatasource" class="app-table">
      <ng-container matColumnDef="itemId">
        <th mat-header-cell *matHeaderCellDef>Item ID</th>
        <td mat-cell *matCellDef="let el">{{ el.itemId }}</td>
      </ng-container>

      <ng-container matColumnDef="importId">
        <th mat-header-cell *matHeaderCellDef>Import ID</th>
        <td mat-cell *matCellDef="let el">{{ el.importId }}</td>
      </ng-container>

      <ng-container matColumnDef="warehouseId">
        <th mat-header-cell *matHeaderCellDef>Warehouse ID</th>
        <td mat-cell *matCellDef="let el">{{ el.warehouseId }}</td>
      </ng-container>

      <ng-container matColumnDef="comId">
        <th mat-header-cell *matHeaderCellDef>Com ID</th>
        <td mat-cell *matCellDef="let el">{{ el.comId }}</td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef>Quantity</th>
        <td mat-cell *matCellDef="let el">{{ el.quantity }}</td>
      </ng-container>

      <ng-container matColumnDef="createTime">
        <th mat-header-cell *matHeaderCellDef>Create Time</th>
        <td mat-cell *matCellDef="let el">
          {{ el.createTime | date : "dd/MM/yyyy" }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let el">
          <button mat-icon-button (click)="editImportItems(el)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</main-layout>
