<main-layout [basePage]="this">
  <div class="delivery-header">
    <p>Manage and view delivery attempt information for gifts.</p>
  </div>

  <div class="import-box delivery-actions">
    <h3>Import Delivery Attempts</h3>
    <p>
      Upload a file to import delivery attempts. Ensure the file format is
      correct before uploading. Supported file formats: .xlsx, .xls
    </p>
    <mat-slide-toggle
      class="delivery-toggle"
      [checked]="handler.isImporting$()"
      (change)="handler.toggleImporting()"
    />
    @if (handler.isImporting$()) {
    <app-input-file
      [inputFile]="deliveryAttemptImportFile$"
      [multiple]="false"
      fileExtension=".xlsx, .xls"
    ></app-input-file>
    <div class="action-box">
      <button
        mat-raised-button
        color="primary"
        (click)="importNewDeliveryAttempt()"
      >
        Import NEW Delivery Attempts
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="updateDeliveryAttemptsBatch()"
      >
        Update Delivery Attempts
      </button>
    </div>
    }

    <div class="action-box">
      <button mat-raised-button color="primary" (click)="export()">
        Export
      </button>
    </div>
  </div>

  <div class="search-panel">
    <form class="search-form" [formGroup]="searchForm">
      <mat-form-field>
        <mat-label>Event ID</mat-label>
        <input matInput type="text" name="eventId" formControlName="eventId" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Customer ID</mat-label>
        <input
          matInput
          type="text"
          name="customerId"
          formControlName="customerId"
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="search(generateDefaultPage())"
      >
        Search
      </button>
    </form>
  </div>

  <div class="delivery-page">
    <h1>Delivery Attempt Information</h1>
    <div class="delivery-details">
      <mat-table matTable appTable [dataSource]="dataSource">
        <ng-container matColumnDef="attemptId">
          <th mat-header-cell *matHeaderCellDef>Attempt Id</th>
          <td mat-cell *matCellDef="let element">{{ element.attemptId }}</td>
        </ng-container>

        <ng-container matColumnDef="deliveryId">
          <th mat-header-cell *matHeaderCellDef>Delivery Id</th>
          <td mat-cell *matCellDef="let element">{{ element.deliveryId }}</td>
        </ng-container>

        <ng-container matColumnDef="eventId">
          <th mat-header-cell *matHeaderCellDef>Event ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.delivery$()?.eventId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="customerId">
          <th mat-header-cell *matHeaderCellDef>Customer Id</th>
          <td mat-cell *matCellDef="let element">
            {{ element.delivery$()?.customerId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.delivery$()?.customerName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="giftName">
          <th mat-header-cell *matHeaderCellDef>Gift Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.delivery$()?.giftName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="deliveryTypeName">
          <th mat-header-cell *matHeaderCellDef>Delivery Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.deliveryTypeName$() }}
          </td>
        </ng-container>

        <ng-container matColumnDef="deliveryStatusName">
          <th mat-header-cell *matHeaderCellDef>Delivery Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.deliveryStatusName$() }}
          </td>
        </ng-container>

        <ng-container matColumnDef="deliveryDate">
          <th mat-header-cell *matHeaderCellDef>Delivery Date</th>
          <td mat-cell *matCellDef="let element">
            {{ element.deliveryDate | date : "dd/MM/yyyy" }}
          </td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Note</th>
          <td mat-cell *matCellDef="let element">
            {{ element.note }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </mat-table>

      <mat-paginator
        [length]="paginator.length$()"
        [pageSize]="paginator.pageSize$()"
        [pageSizeOptions]="paginator.pageSizeOptions$()"
        (page)="paginator.onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</main-layout>
