<main-layout [basePage]="this">
  <h1>Quản lý hàng hóa</h1>

  <div class="header-action-box">
    <button mat-stroked-button color="primary" (click)="addCommodity()">
      Add commodity
    </button>
    <button mat-stroked-button color="primary" (click)="importCommodity()">
      Import commodity
    </button>
  </div>

  <div class="commodity-list">
    <table mat-table [dataSource]="$$tableDataSource" class="app-table">
      <ng-container matColumnDef="comId">
        <th mat-header-cell *matHeaderCellDef>Commodity ID</th>
        <td mat-cell *matCellDef="let el">{{ el.comId }}</td>
      </ng-container>
      <ng-container matColumnDef="comName">
        <th mat-header-cell *matHeaderCellDef>Commodity Name</th>
        <td mat-cell *matCellDef="let el">{{ el.comName }}</td>
      </ng-container>
      <ng-container matColumnDef="comType">
        <th mat-header-cell *matHeaderCellDef>Commodity Type</th>
        <td mat-cell *matCellDef="let el">{{ el.comType$()?.typeName }}</td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let el">
          <button mat-icon-button (click)="editCommodity(el)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="paginator.length$()"
      [pageSize]="paginator.pageSize$()"
      [pageSizeOptions]="paginator.pageSizeOptions$()"
      (page)="paginator.onPageChange($event)"
    ></mat-paginator>
  </div>
</main-layout>
