/* You can add global styles to this file, and also import other style files */
$themeColor: rgb(0, 139, 97);

:root {
  --mat-sys-corner-extra-large: 0.5em;
  --mat-sys-corner-full: 0.5em;

  --theme-color: #{$themeColor};
  --themeColor: #{$themeColor};

  --mat-sys-outline: currentColor;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

@mixin fontFamily() {
  font-family: "IBM Plex Sans", "Helvetica Neue", sans-serif;
}

* {
  @include fontFamily();
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.mat-display-large,
.mat-typography .mat-display-large,
.mat-typography {
  @include fontFamily();

  h1 {
    @include fontFamily();
  }
}
