/* You can add global styles to this file, and also import other style files */
@use "scss/variables";
@use "scss/inline-block-message";
@use "scss/dialog";
@use "scss/table";
@use "scss/paginator";
@use "scss/action-box";
@use "scss/pane";
@use "scss/app-hr";

.mat-mdc-unelevated-button .mat-mdc-button-touch-target,
.mat-mdc-outlined-button .mat-mdc-button-touch-target {
  height: 0 !important;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

@mixin fontFamily() {
  font-family: "IBM Plex Sans", "Helvetica Neue", sans-serif;
}

* {
  @include fontFamily();
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.mat-display-large,
.mat-typography .mat-display-large,
.mat-typography {
  @include fontFamily();

  h1 {
    @include fontFamily();
  }
}

.mat-divider {
  &.mat-divider-horizontal {
    margin: 0.5em 0;
  }
}
