/* You can add global styles to this file, and also import other style files */
@use "scss/fonts" as f;
@use "scss/variables";
@use "scss/inline-block-message";
@use "scss/inline-message";
@use "scss/dialog";
@use "scss/table";
@use "scss/paginator";
@use "scss/action-box";
@use "scss/pane";
@use "scss/app-hr";
@use "scss/button-color";
@use "scss/custom-material";

html,
body {
  height: 100%;
}
body {
  margin: 0;
}

* {
  @include f.fontFamily();
  box-sizing: border-box;
  scroll-behavior: smooth;
}
