<main-layout [basePage]="this">
  <div class="delivery-header">
    <p>Manage and view delivery information for gifts.</p>
  </div>

  <button
    mat-icon-button
    class="settings-button"
    [class.selected]="handler.isImporting$()"
    aria-label="Example icon button with a heart icon"
    matTooltip="Toggle Import Options"
    matTooltipPosition="above"
    (click)="handler.toggleImporting()"
  >
    <mat-icon> settings </mat-icon>
  </button>

  @if (handler.isImporting$()) {
  <div class="import-box delivery-actions">
    <h3>Import Deliveries</h3>
    <p>
      Upload a file to import deliveries. Ensure the file format is correct
      before uploading. Supported file formats: .xlsx, .xls
    </p>
    <app-input-file
      [inputFile]="deliveryImportFile$"
      [multiple]="false"
      fileExtension=".xlsx, .xls"
    ></app-input-file>
    <div class="action-box">
      <button mat-raised-button color="primary" (click)="importNewDelivery()">
        Import NEW Deliveries
      </button>
      <button
        mat-raised-button
        color="accent"
        (click)="updateDeliveriesBatch()"
      >
        Update Deliveries
      </button>
    </div>
  </div>
  }

  <div class="action-box">
    <button mat-raised-button color="primary" (click)="exportDeliveries()">
      Export Deliveries
    </button>
    <button
      mat-raised-button
      color="primary"
      (click)="exportSummaryDeliveries()"
    >
      Export Summary Deliveries
    </button>
  </div>

  <div class="search-panel">
    <form class="search-form" [formGroup]="searchForm">
      <mat-form-field>
        <mat-label>Event ID</mat-label>
        <input matInput type="text" name="eventId" formControlName="eventId" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>Customer ID</mat-label>
        <input
          matInput
          type="text"
          name="customerId"
          formControlName="customerId"
        />
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        (click)="search(generateDefaultPage())"
      >
        Search
      </button>
    </form>
  </div>

  <div class="delivery-page">
    <h1>Delivery Information</h1>
    <div class="delivery-details">
      <mat-table matTable appTable [dataSource]="dataSource">
        <ng-container matColumnDef="deliveryId">
          <th mat-header-cell *matHeaderCellDef>Delivery Id</th>
          <td mat-cell *matCellDef="let element">{{ element.deliveryId }}</td>
        </ng-container>

        <ng-container matColumnDef="eventId">
          <th mat-header-cell *matHeaderCellDef>Event ID</th>
          <td mat-cell *matCellDef="let element">{{ element.eventId }}</td>
        </ng-container>

        <ng-container matColumnDef="deliveryPeriodYear">
          <th mat-header-cell *matHeaderCellDef>Period Year</th>
          <td mat-cell *matCellDef="let element">
            {{ element.deliveryPeriodYear }}
          </td>
        </ng-container>

        <ng-container matColumnDef="deliveryPeriodMonth">
          <th mat-header-cell *matHeaderCellDef>Period Month</th>
          <td mat-cell *matCellDef="let element">
            {{ element.deliveryPeriodMonth }}
          </td>
        </ng-container>

        <ng-container matColumnDef="territory">
          <th mat-header-cell *matHeaderCellDef>Territory</th>
          <td mat-cell *matCellDef="let element">
            {{ element.territory }}
          </td>
        </ng-container>

        <ng-container matColumnDef="region">
          <th mat-header-cell *matHeaderCellDef>Region</th>
          <td mat-cell *matCellDef="let element">
            {{ element.region }}
          </td>
        </ng-container>

        <ng-container matColumnDef="organId">
          <th mat-header-cell *matHeaderCellDef>Organ ID</th>
          <td mat-cell *matCellDef="let element">
            {{ element.organId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="receivedOrgan">
          <th mat-header-cell *matHeaderCellDef>Received Organ</th>
          <td mat-cell *matCellDef="let element">
            {{ element.receivedOrgan }}
          </td>
        </ng-container>

        <ng-container matColumnDef="amdName">
          <th mat-header-cell *matHeaderCellDef>AMD Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.amdName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="customerLevel">
          <th mat-header-cell *matHeaderCellDef>Customer Level</th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerLevel }}
          </td>
        </ng-container>

        <ng-container matColumnDef="customerId">
          <th mat-header-cell *matHeaderCellDef>Customer Id</th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerId }}
          </td>
        </ng-container>

        <ng-container matColumnDef="customerName">
          <th mat-header-cell *matHeaderCellDef>Customer Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.customerName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="idCardNumber">
          <th mat-header-cell *matHeaderCellDef>ID Card Number</th>
          <td mat-cell *matCellDef="let element">
            {{ element.idCardNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="phoneNumber">
          <th mat-header-cell *matHeaderCellDef>Phone Number</th>
          <td mat-cell *matCellDef="let element">
            {{ element.phoneNumber }}
          </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Address</th>
          <td mat-cell *matCellDef="let element">
            {{ element.address }}
          </td>
        </ng-container>

        <ng-container matColumnDef="giftName">
          <th mat-header-cell *matHeaderCellDef>Gift Name</th>
          <td mat-cell *matCellDef="let element">
            {{ element.giftName }}
          </td>
        </ng-container>

        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Note</th>
          <td mat-cell *matCellDef="let element">
            {{ element.note }}
          </td>
        </ng-container>

        <!-- ATTEMPT -->

        <ng-container matColumnDef="attempt_deliveryType">
          <th mat-header-cell *matHeaderCellDef>Attempt: Delivery Type</th>
          <td mat-cell *matCellDef="let element">
            {{ element.latestDeliveryAttempt$()?.deliveryTypeName$() }}
          </td>
        </ng-container>

        <ng-container matColumnDef="attempt_deliveryStatus">
          <th mat-header-cell *matHeaderCellDef>Attempt: Delivery Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.latestDeliveryAttempt$()?.deliveryStatusName$() }}
          </td>
        </ng-container>

        <ng-container matColumnDef="attempt_note">
          <th mat-header-cell *matHeaderCellDef>Attempt: Note</th>
          <td mat-cell *matCellDef="let element">
            {{ element.latestDeliveryAttempt$()?.note }}
          </td>
        </ng-container>

        <!-- RETURN -->
        <ng-container matColumnDef="return_returnStatus">
          <th mat-header-cell *matHeaderCellDef>Return: Return Status</th>
          <td mat-cell *matCellDef="let element">
            {{ element.latestDeliveryReturn$()?.returnStatusName$() }}
          </td>
        </ng-container>

        <ng-container matColumnDef="return_note">
          <th mat-header-cell *matHeaderCellDef>Return: Note</th>
          <td mat-cell *matCellDef="let element">
            {{ element.latestDeliveryReturn$()?.note }}
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </mat-table>

      <mat-paginator
        [length]="paginator.length$()"
        [pageSize]="paginator.pageSize$()"
        [pageSizeOptions]="paginator.pageSizeOptions$()"
        (page)="paginator.onPageChange($event)"
      >
      </mat-paginator>
    </div>
  </div>
</main-layout>
