<main-layout [basePage]="this">
  <h1>This is import list</h1>

  <div class="header-action-box">
    <button class="btn btn-primary" (click)="createImport()">Create an Import</button>
  </div>

  <div class="import-list">
    <table class="app-table" mat-table [dataSource]="importDataSource">
      <ng-container matColumnDef="importId">
        <th mat-header-cell *matHeaderCellDef>Import ID</th>
        <td mat-cell *matCellDef="let el"> {{ el.importId }} </td>
      </ng-container>

      <ng-container matColumnDef="importName">
        <th mat-header-cell *matHeaderCellDef>Import Name</th>
        <td mat-cell *matCellDef="let el"> {{ el.importName }} </td>
      </ng-container>

      <ng-container matColumnDef="importTime">
        <th mat-header-cell *matHeaderCellDef>Import time</th>
        <td mat-cell *matCellDef="let el"> {{ el.importTime }} </td>
      </ng-container>

      <ng-container matColumnDef="warehouse">
        <th mat-header-cell *matHeaderCellDef>Warehouse</th>
        <td mat-cell *matCellDef="let el"> {{ el.warehouseId }} </td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let el">
          <button mat-icon-button (click)="editImport(el)">
            <mat-icon>edit</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

</main-layout>
