<div class="dialog-container">
  <h3>Select Commodity</h3>
  <hr />
  <div class="data-list">
    <table mat-table [dataSource]="$$tableDS" class="app-table">
      <ng-container matColumnDef="selection">
        <th mat-header-cell *matHeaderCellDef>Select</th>
        <td mat-cell *matCellDef="let el">
          <mat-radio-button
            [checked]="el.selected$()"
            (change)="onChangeCommodity(el)"
          ></mat-radio-button>
        </td>
      </ng-container>
      <ng-container matColumnDef="comId">
        <th mat-header-cell *matHeaderCellDef>Commodity ID</th>
        <td mat-cell *matCellDef="let el">{{ el.comId }}</td>
      </ng-container>
      <ng-container matColumnDef="comName">
        <th mat-header-cell *matHeaderCellDef>Commodity Name</th>
        <td mat-cell *matCellDef="let el">{{ el.comName }}</td>
      </ng-container>
      <ng-container matColumnDef="comType">
        <th mat-header-cell *matHeaderCellDef>Commodity Type</th>
        <td mat-cell *matCellDef="let el">{{ el.comType$()?.typeName }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator
      [length]="paginator.length$()"
      [pageSize]="paginator.pageSize$()"
      [pageSizeOptions]="paginator.pageSizeOptions$()"
      (page)="paginator.onPageChange($event)"
    ></mat-paginator>

    <div class="action-box">
      <button mat-stroked-button color="primary" (click)="save()">Save</button>
    </div>
  </div>
</div>
