<main-layout [basePage]="this">
  <div class="header-action-box">
    <button mat-stroked-button color="primary" (click)="addDelivery()">
      Add delivery
    </button>
  </div>

  <div class="data-list">
    <table mat-table [dataSource]="tableDatasource" class="app-table">
      <ng-container matColumnDef="deliveryId">
        <th mat-header-cell *matHeaderCellDef>Delivery ID</th>
        <td mat-cell *matCellDef="let el">{{ el.deliveryId }}</td>
      </ng-container>

      <ng-container matColumnDef="recipient">
        <th mat-header-cell *matHeaderCellDef>Recipient name</th>
        <td mat-cell *matCellDef="let el">{{ el.recipient$()?.fullName }}</td>
      </ng-container>

      <ng-container matColumnDef="commodity">
        <th mat-header-cell *matHeaderCellDef>Commodity</th>
        <td mat-cell *matCellDef="let el">{{ el.commodity$()?.comName }}</td>
      </ng-container>

      <ng-container matColumnDef="commodityQuantity">
        <th mat-header-cell *matHeaderCellDef>Commodity quantity</th>
        <td mat-cell *matCellDef="let el">
          {{ el.comQuantity }}
        </td>
      </ng-container>

      <ng-container matColumnDef="deliveryStatus">
        <th mat-header-cell *matHeaderCellDef>Delivery status</th>
        <td mat-cell *matCellDef="let el">
          {{ el.deliveryStatus$()?.statusName }}
        </td>
      </ng-container>

      <ng-container matColumnDef="startTime">
        <th mat-header-cell *matHeaderCellDef>Start time</th>
        <td mat-cell *matCellDef="let el">
          {{ el.startTime | date : CONSTATNTS.FORMAT.DATE_FORMAT }}
        </td>
      </ng-container>

      <ng-container matColumnDef="endTime">
        <th mat-header-cell *matHeaderCellDef>End time</th>
        <td mat-cell *matCellDef="let el">
          {{ el.endTime | date : CONSTATNTS.FORMAT.DATE_FORMAT }}
        </td>
      </ng-container>

      <ng-container matColumnDef="currentAttempt">
        <th mat-header-cell *matHeaderCellDef>Current attempt</th>
        <td mat-cell *matCellDef="let el">
          {{ el.currentAttemptId }}
        </td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let el">
          <button mat-icon-button (click)="editDelivery(el)">
            <mat-icon>edit</mat-icon>
          </button>

          <button mat-icon-button (click)="viewDeliveryAttempt(el)">
            <mat-icon>visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</main-layout>
