<mat-form-field>
  <mat-label>Shipper</mat-label>
  <input
    type="text"
    placeholder="Pick a shipper"
    [formControl]="keywordControl"
    matInput
    [matAutocomplete]="auto"
  />
  <mat-autocomplete
    #auto="matAutocomplete"
    [displayWith]="displayFn.bind(this)"
  >
    @for (option of filteredOptions$ | async; track option.shipperId) {
    <mat-option [value]="option.shipperId"
      >{{ option.shipperName }} ({{ option.shipperId }})
    </mat-option>
    }
  </mat-autocomplete>
  <mat-error>
    {{ formUtils.extractError(keywordControl) }}
  </mat-error>
</mat-form-field>
