<div class="dialog-container">
  <h2>Edit Export Items</h2>

  <form [formGroup]="formGroup">
    <mat-form-field class="dialog-block">
      <mat-label>Commodity</mat-label>
      <mat-select formControlName="comId" (selectionChange)="onChangeComId($event)">
        <mat-option *ngFor="let com of commodityList$()" [value]="com.comId">{{
          com.comName
        }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="dialog-block">
      <mat-label>Quantity</mat-label>
      <input matInput formControlName="quantity" type="number" />
      <mat-hint>{{
        formUtils.extractError(formGroup.controls["quantity"])
      }}</mat-hint>
    </mat-form-field>

    <div class="action-box">
      <button
        type="submit"
        mat-flat-button
        color="primary"
        (click)="onConfirm()"
      >
        Confirm
      </button>
      <button
        type="reset"
        mat-stroked-button
        color="accent"
        (click)="onClose()"
      >
        Close
      </button>
    </div>
  </form>

  @if (logMessage$()) {
  <app-inline-log-message [logMessage]="logMessage$" />
  }
</div>
