<div class="dialog-container">
  <h2>Edit recipient</h2>

  <form [formGroup]="formGroup">
    <mat-form-field class="dialog-block">
      <mat-label>Recipient name</mat-label>
      <input matInput placeholder="Recipient name" formControlName="fullName" />
    </mat-form-field>

    <mat-form-field class="dialog-block">
      <mat-label>ID card number</mat-label>
      <input
        matInput
        placeholder="ID card number"
        formControlName="idCardNumber"
      />
    </mat-form-field>

    <mat-form-field class="dialog-block">
      <mat-label>Customer Type</mat-label>
      <mat-select formControlName="recipientTypeId">
        @for (recipientType of recipientTypeList$(); track recipientType.typeId) {
        <mat-option [value]="recipientType.typeId">
          {{ recipientType.typeName }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if (logMessage$()) {
    <div class="log-message inline-block-message {{ logMessage$()?.logType }}">
      {{ logMessage$()?.message }}
    </div>
    }

    <div class="action-box">
      <button mat-stroked-button color="primary" (click)="save()">Save</button>
    </div>
  </form>
</div>
