<div class="dialog-container">
  <h2>Edit delivery attempt</h2>

  <form [formGroup]="formGroup">
    <mat-form-field class="dialog-block">
      <mat-label>Delivery type</mat-label>
      <mat-select formControlName="deliveryTypeId">
        @for (deliveryType of deliveryTypeList$(); track deliveryType.typeId) {
        <mat-option [value]="deliveryType.typeId">
          {{ deliveryType.typeName }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <app-select-shipper-widget
      [formControl]="formGroup.controls.shipperId"
    />

    <div app-hr></div>

    @if (logMessage$()) {
    <app-inline-log-message [logMessage]="logMessage$" />
    }

    <div class="action-box">
      <button mat-button mat-flat-button color="primary" (click)="save()">
        Save
      </button>
    </div>
  </form>
</div>
