<div class="dialog-container">
  <h2>Edit commodity</h2>

  <form [formGroup]="formGroup">
    <mat-form-field class="dialog-block">
      <mat-label>Commodity name</mat-label>
      <input matInput placeholder="Commodity name" formControlName="comName" />
    </mat-form-field>

    <mat-form-field class="dialog-block">
      <mat-label>Commodity type</mat-label>
      <mat-select formControlName="comTypeId">
        @for (commodityType of commodityTypeList$(); track commodityType.typeId) {
        <mat-option [value]="commodityType.typeId">
          {{ commodityType.typeName }}
        </mat-option>
        }
      </mat-select>
    </mat-form-field>

    @if (logMessage$()) {
    <div class="log-message inline-block-message {{ logMessage$()?.logType }}">
      {{ logMessage$()?.message }}
    </div>
    }

    <div class="action-box">
      <button mat-stroked-button color="primary" (click)="save()">
        Save
      </button>
    </div>
  </form>
</div>
